<form method="POST">
    <label for="email">Email</label>
    <input type="text" name="email" id="name">
    <label for="password">Password</label>
    <input type="text" name="password" id="password">
    <input type="submit" value="submit">
</form>
