<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice 14052020</title>
</head>
<body>
    <h1>Register Page</h1>
   <form method="POST">
       <label for="username">Username</label>
       <input type="text" name="username" id="username"><br>
       <label for="email">Email</label>
       <input type="text" name="email" id="email"><br>
       <label for="password">Password</label>
       <input type="text" name="password" id="password"><br>
       <input type="submit" value="submit">
   </form> 
</body>
</html>
