<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practice 14052020</title>
    <script src="../public/userValidation.js"></script>
</head>
<body>
    <h1>Register Page</h1>
   <form action="/register" method="POST">
       <label for="username">Username</label>
       <input type="text" name="username" id="username" required oninput="username()"><p id="unMessage"></p><br>
       <label for="email">Email</label>
       <input type="email" name="email" id="email" required><p id="emMessage"></p><br>
       <label for="password">Password</label>
       <input type="password" name="password" id="password" required ><p id="pwMessage"></p><br>
       <button type="submit" >Register</button>
   </form> 
</body>
</html>
