* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  color: white;
  height: 812px;
}

.add-warper {
  background-color: #3a0ca3;
  padding: 1em;
  text-align: center;
}

h3 {
  margin: 1em;
}

#inputItem {
  width: 60vw;
  height: 2em;
  margin-right: 0.2em;
  border-style: 0px solid #3a0ca3;
  border-width: 0.5px;
}

#button {
  color: white;
  padding: 0.5em 1.5em;
  font-weight: bold;
  background-color: #f72585;
  border-style: none;
}

#message {
  margin-top: 1em;
  font-size: 14px;
}

.items-warper {
  padding: 1em 1em;
  background-color: #4cc9f0;
  font-size: 16px;
  height: 80%;
}

ul {
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: auto 25px 25px;
  margin-bottom: 10px;
}

li input {
  display: none;
}

i {
  font-size: 12px;
  align-self: center;
  text-align: center;
}

.done {
  font-style: italic;
  text-decoration: line-through;
}

.fa-minus-circle {
  color: #f72585;
}

li.on-edit span {
  display: none;
}

li.on-edit input {
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #f72585;
  font-size: 18px;
  padding: 5px;
  max-width: 90%;
}
